# build output
dist/
.astro/

# deps
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.production
.env.development

# editor
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/

# misc
*.log
